@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green-550 {
  background-color: rgb(0, 255, 0);
}

.hover\:bg-green-555:hover {
  background-color: rgb(0, 204, 0); /* Darker green for hover effect */
}

.bg-blue-550 {
  background-color: rgb(0, 0, 255);
}

.hover\:bg-blue-550:hover {
  background-color: rgb(0, 0, 204); /* Darker blue for hover effect */
}

.bg-red-550 {
  background-color: rgb(255, 0, 0);
}

.hover\:bg-red-550:hover {
  background-color: rgb(204, 0, 0); /* Darker red for hover effect */
}

.bg-yellow-550 {
  background-color: rgb(255, 255, 17);
}

.hover\:bg-yellow-550:hover {
  background-color: rgb(204, 204, 14); /* Darker yellow for hover effect */
}

.hover\:text-green-550:hover {
  color: rgb(0, 255, 0); /* Adjust to the desired green */
}

.hover\:bg-green-550:hover {
  background-color: rgb(0, 255, 0); /* Adjust to the desired green */
}

.min-h-84vh {
  height: 84vh;
}

.focus\:border-green-550:focus {
    border-color: rgb(0, 255, 0);
  }
  

.focus\:ring-green-550:focus {
    --tw-ring-color: rgba(0, 255, 0); /* This is the rgba value for green-400 with 50% opacity */
    box-shadow: 0 0 0 3px var(--tw-ring-color);
  }